<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SarvaSwasth</title> 
</head>
<body>
    <h3>Add a new Appointment</h3>
    <form method = "POST" action="/homepage">
       <input name="Patient[patientname]" placeholder="Enter PAtient Name" type="text"/> 
       <br/>  <br/>
       <input name="Patient[emailId]" placeholder="Enter EmailId" type="text"/> 
       <br/>  <br/>
       <input name="Patient[mobile]" placeholder="Enter mobile" type="number"/> 
       <br/>  <br/>
       <input name="Patient[age]" placeholder="Enter age" type="number"/> 
       <br/>  <br/>
       <input name="Patient[Gender]" placeholder="Enter Gender" type="text"/> 
       <br/>  <br/>
      
<button>Pay</button>

    </form>
    
</body>
</html>