<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SarvaSwastha</title>
</head>
<body>
    <h1>Payment Done</h1>
    <form method="GET" action = "/homepage">
        <button>back to Patients</button>
    </form>
</body>
</html>